

h1 {
  color:black;
  background-color: transparent;
  
  padding:0.30em;
  position:relative;
  bottom: 10px;

  text-align:left;
  font-family:sans-serif;



}
h1 a{
    text-decoration: none;
    color: black;
    font-size: 17px;
   

}


p{
    font-family:sans-serif;
    opacity: 1;
}
h2{
    text-align: center;
    font-family:sans-serif;
    color:black;
    text-decoration: underline;
    padding-top: 20px;
    padding-left: 20px;
    
    

}

.myNav {
    display:block;
    height: 50px;
    line-height: 50px;
   
    text-align:right;
    color: white;
    position:absolute;
    top: 6px;
    right: 5px;
    
    
}
/* Remove bullets, margin and padding */
.myNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
    
.myNav li {
    float: right;
    
    /* Or you can use display: inline; */
}
/* Define the block styling for the links */
.myNav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-family: default;

    
}
.background-img{
    /*background-image: url("http://st.depositphotos.com/2726735/3291/i/450/depositphotos_32911311-Ambulance-car-speeding.jpg");*/
    background-image: url("pictures/AmbulanceBackground.jpg");
   
 background-size: cover;
 opacity: 0.8;
 background-repeat: no-repeat;
 margin-bottom: 750px;
    

}
.myNav li a:hover{
    font-size:larger;
}
.Contact-information ul  {
    text-decoration: none;
    color: black;
    list-style: none;
    text-align: center;
    margin-top: 60px;
}
.Contact-information li{
    color: orange;
    font-size: 30px;
    margin: 20px ;


}
.Contact-information li a{
    text-decoration: none;
    color: orange;
    font-size: 30px;
    font-weight: 900px;


}

.Services p{
    text-align: center;
    font-weight:900;
    font-style: italic;
    color: orange;
   
    
    


    
}
.Services p a{
    text-decoration: none;
    color:orange;

} 
.Services p a:hover{
    font-size: larger;
    color: black;
    
    

}
.about p{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 25px;
    margin-top:70px;
    margin-left: 40px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: auto;
}
.home-page-text p{
    font-weight: 500;
    font-size: 35px;
   


}
.home-page-text{

    padding-left: 70px;
    padding-top: 70px;
    text-align: center;
   margin-top: 40px;
}
.gallery h2{
    font-size: 40px;
   text-decoration: none;

}
/*Code gallery tests*/
.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    color: orange;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: transparent;
}